.element__btn-like {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.4s linear;
  /* background-size: 22px 19px; */
}

.element__btn-like:hover {
  opacity: 0.5;
}

.element__btn-like:active {
  background-image: url(../../../images/like-active.svg);
  opacity: 1;
}