.profile__btn-add {
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #fff;
  border-radius: 2px;
  background-image: url(../../../images/add-button.svg);
}

.profile__btn-add:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 767px) {
  .profile__btn-add {
    background-image: url(../../../images/add-btn-big.svg);
    width: 282px;
    justify-self: center;
    margin: 0;
  }
}
