.content__section {
  width: 100%;
  /* max-width: 880px; */
  max-width: calc(880px + 50px*2);
  padding-top: 37px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .content__section {
    padding-left: 19px;
    padding-right: 19px;
  }
}
