.popup__btn-save {
  width: 100%;
  margin: 0;
  padding: 14px 0 18px;
  border: none;
  border-radius: 2px;
  justify-self: end;
  transition: opacity 0.4s linear;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: #000;
  color: #fff;
}

.popup__btn-save:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 767px) {
  .popup__btn-save {
    font-size: 14px;
    line-height: 17px;
  }
}